<h1>Todo List</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Objectives</th>
      <th>Actions</th>
    </tr> 
  </thead>

  <tbody>
    <% @todo_lists.each do |list| %>
    <tr>
      <td><%= list.objective %></td>
      <td>
        <% if novice_signed_in? %>
          <%= link_to "Edit", edit_campaign_todo_list_path(@campaign,list), class: "btn btn-warning btn-sm" %> |
           <%= link_to "Details", campaign_todo_list_path(@campaign,list), class: "btn btn-warning btn-sm" %> |
          <%= link_to "Delete", campaign_todo_list_path(@campaign,list), class: "btn btn-warning btn-sm",
                                                                    method: :delete,
                                                                    data: { confirm: 'Are you sure?'} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
